*{
    box-sizing: border-box;
}

body{
    background-color: steelblue;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.empty{
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 3px solid black;
    background: white;
}

.fill{
    background-image: url('https://picsum.photos/150');
    height: 144px;
    width: 144px;
    cursor: pointer;
}

.hold{
    border: 5px solid #ccc;
}

.hovered{
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

@media(max-width: 800px){
    body{
        flex-direction: column;
    }
}